In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Pair Programming Estadística I

Empezamos una nueva lección, y este es el momento de poner en práctica los conocimientos adquiridos del Estadística Descriptiva básica. En este caso vamos a darle un giro de tuerca a la forma en la que se ha resuelto los ejercicios de la Pair de hasta ahora! Para ello os vamos a pedir que por vuestra cuenta busqueis un dataset que os guste, por ejemplo de Kaggle o de donde queráis extraerlo. De esta forma vamos a estudiar los diferentes estadísiticos que contiene en dataset seleccionado Para todas los ejercicios de pair programming de Estadística I, II y III usaremos el dataframe que se tome para el desarrollo de este ejercicio de pair programming.

1. Buscar un conjunto de datos a analizar:
- Se recomienda que el conjunto de datos a analizar tenga variables numéricas y categóricas. Ya que también se analizarán.

In [2]:
df_train = pd.read_csv('datos/train.csv')
df_train.head()

/tmp/ipykernel_2914/1974611061.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv('datos/train.csv')

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [3]:
# cambiamos los dias a la semana a strings
df_train['DayOfWeek'].unique()

array([5, 4, 3, 2, 1, 7, 6])

In [5]:
def dias(columna):
    if columna == 1:
        return "Monday"
    elif columna == 2:
        return "Tuesday"
    elif columna == 3:
        return "Wednesday"
    elif columna == 4:
        return "Thursday"
    elif columna == 5:
        return "Friday"
    elif columna == 6:
        return "Saturday"
    elif columna == 7:
        return "Sunday"

In [6]:
df_train['DayOfWeek'] = df_train['DayOfWeek'].apply(dias)
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,Friday,2015-07-31,5263,555,1,1,0,1
1,2,Friday,2015-07-31,6064,625,1,1,0,1
2,3,Friday,2015-07-31,8314,821,1,1,0,1
3,4,Friday,2015-07-31,13995,1498,1,1,0,1
4,5,Friday,2015-07-31,4822,559,1,1,0,1

In [32]:
# los datos incluyen domingos que no tienen ventas
df_sunday = df_train[df_train['DayOfWeek'] == 'Sunday']
df_sunday.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
5575,1,Sunday,2015-07-26,0,0,0,0,0,0
5576,2,Sunday,2015-07-26,0,0,0,0,0,0
5577,3,Sunday,2015-07-26,0,0,0,0,0,0
5578,4,Sunday,2015-07-26,0,0,0,0,0,0
5579,5,Sunday,2015-07-26,0,0,0,0,0,0

In [8]:
# creamos un dataframe de Monday a Saturday
df_montosat = df_train[~(df_train['DayOfWeek'] == 'Sunday')]
df_montosat.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,Friday,2015-07-31,5263,555,1,1,0,1
1,2,Friday,2015-07-31,6064,625,1,1,0,1
2,3,Friday,2015-07-31,8314,821,1,1,0,1
3,4,Friday,2015-07-31,13995,1498,1,1,0,1
4,5,Friday,2015-07-31,4822,559,1,1,0,1

In [36]:
df_montosat['DayOfWeek'].unique()

array(['Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Saturday'],
      dtype=object)

In [12]:
# este dataframe aun contiene muchos dias con 0 ventas
df_montosat.describe()

,Store,Sales,Customers,Open,Promo,SchoolHoliday
count,872479.000000,872479.000000,872479.000000,872479.000000,872479.000000,872479.000000
mean,558.430147,6697.730478,732.238058,0.963690,0.444802,0.205159
std,321.908698,3293.852115,411.103656,0.187061,0.496944,0.403818
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,280.000000,4683.000000,501.000000,1.000000,0.000000,0.000000
50%,558.000000,6248.000000,662.000000,1.000000,0.000000,0.000000
75%,838.000000,8255.000000,880.000000,1.000000,1.000000,0.000000
max,1115.000000,41551.000000,7388.000000,1.000000,1.000000,1.000000

In [16]:
# creamos un dataframe de solo los dias con las tiendas abiertas para sacar nuestras estadisticas sin que esten afectadas por esas 0 que no consideramos relevantes
df_open = df_train[(df_train['Open'] == 1)]
df_open.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,Friday,2015-07-31,5263,555,1,1,0,1
1,2,Friday,2015-07-31,6064,625,1,1,0,1
2,3,Friday,2015-07-31,8314,821,1,1,0,1
3,4,Friday,2015-07-31,13995,1498,1,1,0,1
4,5,Friday,2015-07-31,4822,559,1,1,0,1

In [41]:
df_open.describe()

,Store,Sales,Customers,Open,Promo,SchoolHoliday
count,844392.000000,844392.000000,844392.000000,844392.0,844392.000000,844392.000000
mean,558.422920,6955.514291,762.728395,1.0,0.446352,0.193580
std,321.731914,3104.214680,401.227674,0.0,0.497114,0.395103
min,1.000000,0.000000,0.000000,1.0,0.000000,0.000000
25%,280.000000,4859.000000,519.000000,1.0,0.000000,0.000000
50%,558.000000,6369.000000,676.000000,1.0,0.000000,0.000000
75%,837.000000,8360.000000,893.000000,1.0,1.000000,0.000000
max,1115.000000,41551.000000,7388.000000,1.0,1.000000,1.000000

2. Extraer los siguentes estadísiticos del conjunto de datos para varias de las variables disponibles:
- Media
- Desviación con respecto de la media
- Varianza
- Desviación típica
- Moda
- Mediana
- Media ponderada
- Robustez
- Coeficiente de variación

In [17]:
print(f"La media de ventas de todas las tiendas es €{round(df_open['Sales'].mean(), 2)}")
print(f"La moda de ventas de todas las tiendas es €{round(df_open['Sales'].mode()[0], 2)}")
print(f"La mediana de ventas de todas las tiendas es €{round(df_open['Sales'].median(), 2)}")
print(f"La varianza de ventas de todas las tiendas es {round(df_open['Sales'].var(), 2)}")
print(f"La desviacion tipica de ventas de todas las tiendas es {round(df_open['Sales'].std(), 2)}")
print(f"El coeficiente de variacion de ventas de todas las tiendas es {round(df_open['Sales'].std()/df_train['Sales'].mean(), 2)}")

La media de ventas de todas las tiendas es €6955.51
La moda de ventas de todas las tiendas es €5674
La mediana de ventas de todas las tiendas es €6369.0
La varianza de ventas de todas las tiendas es 9636148.78
La desviacion tipica de ventas de todas las tiendas es 3104.21
El coeficiente de variacion de ventas de todas las tiendas es 0.54

In [52]:
print(f"La media del número de clientes de todas las tiendas es {round(df_open['Customers'].mean(), 2)}")
print(f"La moda del número de clientes de todas las tiendas es {round(df_open['Customers'].mode()[0], 2)}")
print(f"La mediana del número de clientes de todas las tiendas es {round(df_open['Customers'].median(), 2)}")
print(f"La varianza de del número de clientes todas las tiendas es {round(df_open['Customers'].var(), 2)}")
print(f"La desviacion tipica del número de clientes de todas las tiendas es {round(df_open['Customers'].std(), 2)}")
print(f"El coeficiente de variacion del número de clientes de todas las tiendas es {round(df_open['Customers'].std()/df_train['Sales'].mean(), 2)}")

La media del número de clientes de todas las tiendas es 762.73
La moda del número de clientes de todas las tiendas es 560
La mediana del número de clientes de todas las tiendas es 676.0
La varianza de del número de clientes todas las tiendas es 160983.65
La desviacion tipica del número de clientes de todas las tiendas es 401.23
El coeficiente de variacion del número de clientes de todas las tiendas es 0.07

In [30]:
# Media ponderada
# para poner menos peso a los dias de promo, creamos una columna nueva con los pesos
df_open['Promo_peso'] = np.where(df_open['Promo'] == 1, 0.5, 1)
df_open.head(2)

/tmp/ipykernel_2914/3809780360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_open['Promo_peso'] = np.where(df_open['Promo'] == 1, 0.5, 1)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Promo_peso
0,1,Friday,2015-07-31,5263,555,1,1,0,1,0.5
1,2,Friday,2015-07-31,6064,625,1,1,0,1,0.5

In [41]:
# usamos esa columna como el array de los pesos para calcular la media ponderada
w = np.array(df_open['Promo_peso'])
media_ponderada = np.average(df_open['Sales'], weights = w)
print(f"La media ponderada de ventas {round(media_ponderada, 2)}")

La media ponderada de ventas 6589.86

In [47]:
# Desviacion con respecto a la media
diferencias = df_open['Sales'] - df_open['Sales'].mean()
desviacion_media = np.abs(diferencias)
desviacion_media

0          1692.514291
1           891.514291
2          1358.485709
3          7039.485709
4          2133.514291
              ...
1016776    3580.514291
1016827    3809.485709
1016863    1920.514291
1017042    2464.514291
1017190     994.514291
Name: Sales, Length: 844392, dtype: float64

In [46]:
desviacion_media.mean()

2291.6647869275807

In [51]:
# Robustez
(df_open['Sales'].mean() - df_open['Sales'].median())/df_open['Sales'].mean()*100

8.432364110522265

3. Interpretación de los resultados.
- Ahora interpreta los resultados obtenidos de los diferentes estadísticos estudiados haciendo hincapié en aspectos interesantes de tus datos y explica lo mejor posible la naturaleza de los mismos.

Hay un 8% de diferencia entre la media y la mediana. Como son valores bastantes cercanos, y hay una gran cantidad (>1.000.000) de registros, podemos concluir que los datos tienen una robustez alta

Sin embargo, la desviacion estandar es alta, ya que es ~50% de la media.