# Pair Programming Pandas III - Metodos Pandas

In [1]:
import pandas as pd
import os

1. Cargar todos los datasets que os hemos compartido en este pair programming

In [2]:
df_emp = pd.read_csv("datos/Empleados.csv")

In [3]:
df_agentes = pd.read_csv("datos/Agentes.csv")

In [4]:
df_2016 = pd.read_excel("datos/2016.xlsx")

2. Haced una exploraci칩n b치sica cada uno de los DataFrames, esta exploraci칩n debe incluir:

游늷 NOTA Fijaos que vamos a hacer lo mismo para cada archivo que tenemos. Una buena pr치ctica ser칤a crearnos una funci칩n que apliquemos a cada conjunto de datos. Nuestra funci칩n recibir치 un par치metro, que ser치 el dataframe entero

游늷 NOTA Nos estamos convirtiendo en analistas de datos y no nos debe valer solo con escribir el c칩digo, os recomendamos que reviseis bien los resultados y empezais a extraer algunas conclusiones. 쮿ay datos raros en nuestros conjuntos de datos? 쯊enemos nulos?, etc.

- 쮺u치ntas filas y columnas tiene el DataFrame?
- Mostrad las primeras cinco filas y las 칰ltimas cinco filas del DataFrame.
- Mostrad 2 filas al azar del DataFrame.
- 쮺u치l es el nombre de las columnas del DataFrame?
- 쮺u치les son los principales est치disticos del DataFrame? Mostrad por separado las variables categ칩ricas y las variables num칠ricas.
- 쮺u치l es el porcentaje de valores nulos en cada columna?
- 쮺u치ntos valores 칰nicos tenemos para cada una de las columnas?
De aquellas columnas que tengan menos de 6 elementos 칰nicos mostrad cada uno de sus valores 칰nicos.

In [5]:

def df_explore(dataframe, nombre):
    print(f"EXPLORACI칍N DEL DATAFRAME {nombre.upper()}")
    print("--------------")
    print(f"El dataframe {nombre} tiene {dataframe.shape[0]} filas y {dataframe.shape[1]} columnas")
    print("--------------")
    print("Las primeras 5 columnas son:")
    display(dataframe.head())
    print("Las 칰ltimas 5 columnas son:")
    display(dataframe.tail())
    print("--------------")
    print("Una muestra de dos filas seleccionadas al azar:")
    display(dataframe.sample(2))
    print("--------------")
    print(f"El dataframe {nombre} tiene las siguientes columnas:")
    for col in dataframe.columns:
        print(col) 
    print("--------------")
    print(f"Los principales estad칤sticos de las variables num칠ricas son:")
    display(dataframe.describe())
    print("--------------")
    print(f"Los principales estad칤sticos de las variables categ칩ricas son:")
    display(dataframe.describe(include=object))
    print("--------------")
    print("El porcentaje de nulos por columna:")
    for i, col in enumerate(dataframe.isnull().sum()):
        print(f"{dataframe.isnull().sum().index[i]}: {col/dataframe.shape[0]*100}")
    print("--------------")
    print("El numero de valores distintos de cada columna es:")
    for col in dataframe.columns:
        if len(dataframe[col].value_counts()) > 6:
            print(col, len(dataframe[col].value_counts()))
        else:
            print(col, len(dataframe[col].value_counts()))
            print(f"Los valores son: {dataframe[col].unique()}")

In [8]:
df_explore(df_emp, "Empleados")

EXPLORACI칍N DEL DATAFRAME EMPLEADOS
--------------
El dataframe Empleados tiene 2000 filas y 6 columnas
--------------
Las primeras 5 columnas son:

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

Las 칰ltimas 5 columnas son:

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
1995,NaN,1903,RAMOS,JOSE,55-23200,jose.ramos@tractchun.com
1996,NaN,1904,RUIZ,GUADALUPE,80-22220,guadalupe.ruiz@tractchun.com
1997,NaN,1935,ZEPEDA,FRANCISCO,15-24100,francisco.zepeda@tractchun.com
1998,NaN,1953,ROBLES,ELIZABETH,15-24100,elizabeth.robles@tractchun.com
1999,NaN,1993,ENRIQUEZ,HERCULANO,45-11000,herculano.enriquez@tractchun.com

--------------
Una muestra de dos filas seleccionadas al azar:

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
1996,NaN,1904,RUIZ,GUADALUPE,80-22220,guadalupe.ruiz@tractchun.com
1977,NaN,1660,MAYTORENA,NORIEGA,20-31320,noriega.maytorena@tractchun.com

--------------
El dataframe Empleados tiene las siguientes columnas:
Turno
ID Empleado
Apellido
Nombre
ID Puesto
Email
--------------
Los principales estad칤sticos de las variables num칠ricas son:

       ID Empleado
count  2000.000000
mean   1000.500000
std     577.494589
min       1.000000
25%     500.750000
50%    1000.500000
75%    1500.250000
max    2000.000000

--------------
Los principales estad칤sticos de las variables categ칩ricas son:

       Turno Apellido Nombre ID Puesto                      Email
count      8     2000   2000      2000                       2000
unique     4      376    565        75                       2000
top        A    LOPEZ  MARIA  15-24100  jesus.villa@tractchun.com
freq       2       36     46       407                          1

--------------
El porcentaje de nulos por columna:
Turno: 99.6
ID Empleado: 0.0
Apellido: 0.0
Nombre: 0.0
ID Puesto: 0.0
Email: 0.0
--------------
El numero de valores distintos de cada columna es:
Turno 4
Los valores son: ['A' nan 'B' 'C' 'D']
ID Empleado 2000
Apellido 376
Nombre 565
ID Puesto 75
Email 2000

In [9]:
df_explore(df_emp, "Empleados")

EXPLORACI칍N DEL DATAFRAME EMPLEADOS
--------------
El dataframe Empleados tiene 2000 filas y 6 columnas
--------------
Las primeras 5 columnas son:

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

Las 칰ltimas 5 columnas son:

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
1995,NaN,1903,RAMOS,JOSE,55-23200,jose.ramos@tractchun.com
1996,NaN,1904,RUIZ,GUADALUPE,80-22220,guadalupe.ruiz@tractchun.com
1997,NaN,1935,ZEPEDA,FRANCISCO,15-24100,francisco.zepeda@tractchun.com
1998,NaN,1953,ROBLES,ELIZABETH,15-24100,elizabeth.robles@tractchun.com
1999,NaN,1993,ENRIQUEZ,HERCULANO,45-11000,herculano.enriquez@tractchun.com

--------------
Una muestra de dos filas seleccionadas al azar:

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
714,NaN,1666,REYNOSO,FRANCISCO,90-14100,francisco.reynoso@tractchun.com
1531,NaN,1768,CASTRO,BENJAMIN,70-21110,benjamin.castro@tractchun.com

--------------
El dataframe Empleados tiene las siguientes columnas:
Turno
ID Empleado
Apellido
Nombre
ID Puesto
Email
--------------
Los principales estad칤sticos de las variables num칠ricas son:

       ID Empleado
count  2000.000000
mean   1000.500000
std     577.494589
min       1.000000
25%     500.750000
50%    1000.500000
75%    1500.250000
max    2000.000000

--------------
Los principales estad칤sticos de las variables categ칩ricas son:

       Turno Apellido Nombre ID Puesto                      Email
count      8     2000   2000      2000                       2000
unique     4      376    565        75                       2000
top        A    LOPEZ  MARIA  15-24100  jesus.villa@tractchun.com
freq       2       36     46       407                          1

--------------
El porcentaje de nulos por columna:
Turno: 99.6
ID Empleado: 0.0
Apellido: 0.0
Nombre: 0.0
ID Puesto: 0.0
Email: 0.0
--------------
El numero de valores distintos de cada columna es:
Turno 4
Los valores son: ['A' nan 'B' 'C' 'D']
ID Empleado 2000
Apellido 376
Nombre 565
ID Puesto 75
Email 2000

In [10]:
df_explore(df_agentes, "Agentes")

EXPLORACI칍N DEL DATAFRAME AGENTES
--------------
El dataframe Agentes tiene 50 filas y 4 columnas
--------------
Las primeras 5 columnas son:

,ID Agente,Nombre,email,Fecha de Nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

Las 칰ltimas 5 columnas son:

,ID Agente,Nombre,email,Fecha de Nacimiento
45,46,Rosa Olguin,rosa.olguin@tractchun.com,1985/5/30
46,47,Yomaira Agudelo,yomaira.agudelo@tractchun.com,1974/12/15
47,48,Aurelio Tanori,aurelio.tanori@tractchun.com,1979/8/29
48,49,Armando Sierra,armando.sierra@tractchun.com,1991/4/5
49,50,Ramon Macias,ramon.macias@tractchun.com,1980/3/4

--------------
Una muestra de dos filas seleccionadas al azar:

,ID Agente,Nombre,email,Fecha de Nacimiento
35,36,Luis Torres,luis.torres@tractchun.com,1982/7/18
32,33,Guadalupe Villanueva,guadalupe.villanueva@tractchun.com,1975/1/15

--------------
El dataframe Agentes tiene las siguientes columnas:
ID Agente
Nombre
email
Fecha de Nacimiento
--------------
Los principales estad칤sticos de las variables num칠ricas son:

       ID Agente
count   50.00000
mean    25.50000
std     14.57738
min      1.00000
25%     13.25000
50%     25.50000
75%     37.75000
max     50.00000

--------------
Los principales estad칤sticos de las variables categ칩ricas son:

             Nombre                      email Fecha de Nacimiento
count            50                         50                  50
unique           50                         50                  50
top     Mata Lucero  lucero.mata@tractchun.com           1989/4/28
freq              1                          1                   1

--------------
El porcentaje de nulos por columna:
ID Agente: 0.0
Nombre: 0.0
email: 0.0
Fecha de Nacimiento: 0.0
--------------
El numero de valores distintos de cada columna es:
ID Agente 50
Nombre 50
email 50
Fecha de Nacimiento 50

In [11]:
df_explore(df_2016, "2016")

EXPLORACI칍N DEL DATAFRAME 2016
--------------
El dataframe 2016 tiene 13051 filas y 12 columnas
--------------
Las primeras 5 columnas son:

,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,Web,칈ndice
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

Las 칰ltimas 5 columnas son:

,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,Web,칈ndice
13046,TWRTSR-6442574526,2016-07-23,962.0,25.0,Sistema,Solicitud,1 - Menor,1 - Baja,14.0,4.0,www.tractchun.es,1.0
13047,TWRTSR-7142570866,2016-07-19,126.0,38.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,www.tractchun.es,1.0
13048,TWRTSR-7742498308,2016-05-08,510.0,3.0,Sistema,Solicitud,3 - Mayor,1 - Baja,2.0,5.0,www.tractchun.es,1.0
13049,TWRTSR-8642558628,2016-07-07,1942.0,26.0,Sistema,Solicitud,1 - Menor,1 - Baja,16.0,4.0,www.tractchun.es,1.0
13050,TWRTSR-8742628897,2016-09-15,919.0,8.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,www.tractchun.es,1.0

--------------
Una muestra de dos filas seleccionadas al azar:

,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,Web,칈ndice
12462,TMLTNR-9042621011,2016-09-08,1161.0,30.0,Acceso&%Login,Solicitud,2 - Normal,2 - Media,0.0,4.0,www.tractchun.es,1.0
1316,GHLESR-6142547516,2016-06-26,1801.0,45.0,Sistema,Problema,2 - Normal,3 - Alta,1.0,5.0,www.tractchun.es,1.0

--------------
El dataframe 2016 tiene las siguientes columnas:
ID Ticket
Fecha
ID Empleado
ID Agente
Categor칤a
Tipo
Severidad
Prioridad
D칤as Resoluci칩n
Satisfacci칩n
Web
칈ndice
--------------
Los principales estad칤sticos de las variables num칠ricas son:

        ID Empleado     ID Agente  D칤as Resoluci칩n  Satisfacci칩n  칈ndice
count  13049.000000  13050.000000     13049.000000  13037.000000  13038.0
mean     999.737988     25.425134         4.551843      3.979673      1.0
std      580.422512     14.363362         4.352681      1.326657      0.0
min        1.000000      1.000000         0.000000      1.000000      1.0
25%      499.000000     13.000000         0.000000      4.000000      1.0
50%      995.000000     26.000000         4.000000      4.000000      1.0
75%     1505.000000     38.000000         7.000000      5.000000      1.0
max     2000.000000     50.000000        21.000000      5.000000      1.0

--------------
Los principales estad칤sticos de las variables categ칩ricas son:

,ID Ticket,Categor칤a,Tipo,Severidad,Prioridad,Web
count,13050,13038,13050,13025,13025,13024
unique,13050,4,2,5,4,1
top,GDDENR-5042564453,Sistema,Solicitud,2 - Normal,3 - Alta,www.tractchun.es
freq,1,5247,9756,11771,4828,13024

--------------
El porcentaje de nulos por columna:
ID Ticket: 0.007662248103593594
Fecha: 0.19921845069343344
ID Empleado: 0.015324496207187187
ID Agente: 0.007662248103593594
Categor칤a: 0.09960922534671672
Tipo: 0.007662248103593594
Severidad: 0.19921845069343344
Prioridad: 0.19921845069343344
D칤as Resoluci칩n: 0.015324496207187187
Satisfacci칩n: 0.10727147345031034
Web: 0.20688069879702706
칈ndice : 0.09960922534671672
--------------
El numero de valores distintos de cada columna es:
ID Ticket 13050
Fecha 366
ID Empleado 1999
ID Agente 50
Categor칤a 4
Los valores son: ['Acceso&%Login' 'Sistema' 'Software' 'Hardware' nan]
Tipo 2
Los valores son: ['Problema' 'Solicitud' nan]
Severidad 5
Los valores son: ['0 - Sin Clasificar' '2 - Normal' '4 - Cr칤tico' nan '3 - Mayor'
 '1 - Menor']
Prioridad 4
Los valores son: ['0 - Sin Asignar' nan '3 - Alta' '2 - Media' '1 - Baja']
D칤as Resoluci칩n 21
Satisfacci칩n 5
Los valores son: [ 5.  1.  4. nan  3.  2.]
Web 1
Los valores son: ['www.tractchun.es' nan]
칈ndice  1
Los valores son: [ 1. nan]

3. Modificaciones b치sicas de los conjuntos de datos:

- Cambiad el nombre de las columnas para que todas est칠n en min칰sculas y reemplazad los espacios por _.

In [12]:
diccionario = {col : col.lower().replace(" ", "_") for col in df_emp.columns}
df_emp.rename(columns = diccionario, inplace = True)
df_emp.head()

,turno,id_empleado,apellido,nombre,id_puesto,email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

In [13]:
diccionario2 = {col : col.lower().replace(" ", "_") for col in df_agentes.columns}
df_agentes.rename(columns = diccionario2, inplace = True)
df_agentes.head()

,id_agente,nombre,email,fecha_de_nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

In [14]:
diccionario3 = {col : col.lower().replace(" ", "_") for col in df_2016.columns}
df_2016.rename(columns = diccionario3, inplace = True)
df_2016.head()

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,web,칤ndice_
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

- Para las columnas de web e 칤ndice en el archivo de 2016.xlsx ya hemos visto que tiene un 칰nico valor 칰nico, lo cual no tiene mucho sentido ya que no nos aporta informaci칩n 칰til. En este ejercicios tendr칠is que eliminar dichas columnas del dataframe.

In [15]:
df_2016.drop(["web", "칤ndice_"], axis = 1, inplace = True)

In [16]:
df_2016.head()

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0

- Establece la columna id_ticket de la tabla de 2016.xlsx como 칤ndice del DataFrame.

In [17]:
df_2016.set_index(["id_ticket"], inplace = True)

In [18]:
df_2016.head()

,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
id_ticket,,,,,,,,,
GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0

- Guarda los csv's sobre los que hay치is hecho cambios para usarlos en pr칩ximos pairs .

In [19]:
df_emp.to_csv("datos/Empleados2.csv")

In [20]:
df_agentes.to_csv("datos/Agentes2.csv")

In [21]:
df_agentes.to_excel("datos/2016_2.xlsx")