In [1]:
import pandas as pd

# Pair Programming Pandas VII

En los ejercicios de hoy pondremos en pr치ctica los apply, y nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma m치s sencilla. Para ellos seguiremos trabajando con mismos csv que en el pair anterior, el de los empleados que unimos en el pair de uni칩n de datasets y el de los tickets de todos los a침os. Para ello, lo primero que tendremos que hacer es cargar estos dos csv.
Como hemos dicho hasta ahora, hemos estado explorando los datos, y puede que ya nos hayamos dado cuenta de que hay columnas de que est치n un poco "sucias". Hoy limpiaremos esas columnas para poder extraer conclusiones m치s eficaces.

In [2]:
df_a침os = pd.read_csv('datos/a침os.csv', index_col = 0)
df_a침os.head(2)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0

In [3]:
df_emp_pues = pd.read_csv('datos/empleados_puestos.csv', index_col = 0)
df_emp_pues.head(2)

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email,Puesto,Departamento,Tipo Puesto
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com,Supervisor de Producci칩n,PRODUCCION,Mandos Medios

1. Cread una columna nueva y una funci칩n que nos de el mes en el que se solicit칩 el servicio. Tened en cuenta que todas las filas tienen la misma estructura. A la hora de escribir la funci칩n debemos tener en cuenta que puede que no haya la informaci칩n de mes en la columna de la fecha. En ese caso devolved un nulo (NaN).

游늷 Nota La fecha tendr치 que ir formato de string como "Enero", "Febrero", etc.

游눠 Pista 游눠Podr칠is usar regex, pero no es estrictamente necesario.

In [4]:
import datetime

In [5]:
import numpy as np

In [6]:
df_a침os['Fecha'] = df_a침os['Fecha'].apply(pd.to_datetime)

In [7]:
def sacar_mes(fecha):
    try:
        return fecha.strftime('%B')
    except:
        return np.nan

In [8]:
df_a침os['Mes'] = df_a침os['Fecha'].apply(sacar_mes)

df_a침os.head(2)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,Mes
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,July
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,May

2. En la tabla de empleados, tenemos los nombres y los apellidos de los empleados, pero en columnas separadas. En los ejercicios de pair de la lecci칩n del groupby vimos que si quisieramos agrupar por los nombres, esto se nos puede complicar. Ahora nos piden que creemos una columna donde tengamos el nombre y el apellido juntos.

游늷 NOTA La columna nueva debe tener el nombre y apellido con la primera letra en may칰sculas, por ejemplo "Jes칰s Villa".

游늷 NOTA Una vez hallamos creado la columna nueva, eliminad las columnas de nombre y apellido originales.

In [9]:
def nombre_completo(name, apellido):
    return name.title() + " " + apellido.title()

In [10]:
df_emp_pues.columns

Index(['Turno', 'ID Empleado', 'Apellido', 'Nombre', 'ID Puesto', 'Email',
       'Puesto', 'Departamento', 'Tipo Puesto'],
      dtype='object')

In [11]:
df_emp_pues["Nombre completo"] = df_emp_pues.apply(lambda df: nombre_completo(df["Nombre"], df["Apellido"]), axis = 1)

df_emp_pues.head(3)

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email,Puesto,Departamento,Tipo Puesto,Nombre completo
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo,Jesus Villa
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com,Supervisor de Producci칩n,PRODUCCION,Mandos Medios,Ricardo Mendez
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com,Supervisor de Ingenier칤a de Calidad,INGENIERIA DE CALIDAD,Mandos Medios,Guadalupe Heredia

In [12]:
df_emp_pues = df_emp_pues.drop(columns = ["Nombre", "Apellido"])

df_emp_pues

,Turno,ID Empleado,ID Puesto,Email,Puesto,Departamento,Tipo Puesto,Nombre completo
0,A,6,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo,Jesus Villa
1,NaN,10,15-24100,ricardo.mendez@tractchun.com,Supervisor de Producci칩n,PRODUCCION,Mandos Medios,Ricardo Mendez
2,NaN,21,90-14000,guadalupe.heredia@tractchun.com,Supervisor de Ingenier칤a de Calidad,INGENIERIA DE CALIDAD,Mandos Medios,Guadalupe Heredia
3,NaN,27,15-24100,dessens.duran@tractchun.com,Supervisor de Producci칩n,PRODUCCION,Mandos Medios,Dessens Duran
4,NaN,29,80-24100,federico.laguna@tractchun.com,Supervisor de Producci칩n,MANTENIMIENTO,Mandos Medios,Federico Laguna
...,...,...,...,...,...,...,...,...
1995,NaN,1903,55-23200,jose.ramos@tractchun.com,Ingeniero de Manufactura,INGENIERIA DE MANUFACTURA,Operativo,Jose Ramos
1996,NaN,1904,80-22220,guadalupe.ruiz@tractchun.com,Ingeniero de Procesos,MANTENIMIENTO,Operativo,Guadalupe Ruiz
1997,NaN,1935,15-24100,francisco.zepeda@tractchun.com,Supervisor de Producci칩n,PRODUCCION,Mandos Medios,Francisco Zepeda
1998,NaN,1953,15-24100,elizabeth.robles@tractchun.com,Supervisor de Producci칩n,PRODUCCION,Mandos Medios,Elizabeth Robles
1999,NaN,1993,45-11000,herculano.enriquez@tractchun.com,Supervisor de Aseguramiento de Calidad,INGENIERIA DE CALIDAD,Mandos Medios,Herculano Enriquez

3. En el pair programming desde a direcci칩n nos ped칤an que agruparamos los datos en base a la columna de "categor칤a", puede que en aquel momento nos dieramos cuenta que hab칤a var칤as categor칤as que eran igual (en concreto "Acceso Login") pero que en algunos casos ten칤a unos s칤mbolos raros (&, %, -). Es el momento de limpiar esta columna. El objetivo, reemplazar todos estos s칤mbolos raros por "/", para conseguir homogeneizar los valores de esta columna. Para ellos deberemos crear una funci칩n.

In [13]:
import re

In [14]:
def limpiar_cat(categoria):
    try:
        patron = '\W+|\d{2}'
        return re.sub(patron, '/', categoria)
    except:
        return np.nan

In [15]:
df_a침os['Categor칤a'] = df_a침os['Categor칤a'].apply(limpiar_cat)

df_a침os.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,Mes
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,July
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,May
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,June
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,April
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,June

In [16]:
df_a침os['Categor칤a'].unique()

array(['Acceso/Login', 'Sistema', 'Software', 'Hardware', nan],
      dtype=object)

4. Una vez que hay치is terminado eliminad las columnas originales conservando las nuevas.

Ya las hemos borrado

5. Guardad el dataframe en un csv que usaremos m치s adelante

In [17]:
df_a침os.to_csv('datos/a침os2.csv')

df_emp_pues.to_csv('datos/empleados_puestos2.csv')