In [1]:
import pandas as pd

# Pair Programming Pandas V

En este ejercicio pondremos en práctica los conceptos básicos para juntar varios csv que compartan información.

En pairs anteriores habíamos explorado algunos conjuntos de datos, estos conjuntos de datos eran:
- El csv que creamos en el ejercicio de pair programming Pandas IV, dónde recordamos eliminamos ciertas columnas que no eran necesarias, y habíamos creado nuevas.
- El csv llamado Empleados donde tenemos información sobre los empleados de la empresa, este fichero lo tenéis un poco mas abajo para descargar.
- El csv llamado Puestos donde tenemos información sobre los puestos que hay en la empresa y que departamento pertencen.
- El csv llamado Agentes donde tenemos información sobre los puestos que hay en la empresa y que departamento pertencen.

El principal objetivo de este ejercicio de pair programming es acabar teniendo un único DataFrame con toda la información contenida en los tres csv anteriores.

Antes de empezar, deberéis crear una columna nueva en los dataframes de 2016.xlsx, 2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx que contenga los valores del año al que corresponden.

Para llevar a cabo nuestro objetivo tendréis que seguir los siguientes pasos:

1. Cargad los siete ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir entre vosotras como podríamos juntar toda la información.

In [2]:
df_empleados = pd.read_csv('datos/Empleados3.csv', index_col=0)
df_empleados.head(5)

,ID Empleado,Apellido,Nombre,ID Puesto,Email
Turno,,,,,
A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

In [3]:
df_agentes = pd.read_csv('datos/Agentes.csv', index_col=0)
df_agentes.head(5)

,Nombre,email,Fecha de Nacimiento
ID Agente,,,
1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
3,Elena Velez,elena.velez@tractchun.com,1993/6/6
4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

In [5]:
df_puestos = pd.read_excel('datos/Puestos.xlsx')
df_puestos.head(2)

  ID Puesto                   Puesto Departamento Tipo Puesto
0  10-23200  Ingeniero de Materiales   MATERIALES   Operativo
1  10-24111   Operador de Producción   MATERIALES   Operativo

In [6]:
df_2016 = pd.read_excel('datos/2016.xlsx')
df_2016.head(2)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

In [7]:
df_2017 = pd.read_excel('datos/2017.xlsx')
df_2017.head(2)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDEER-8142900901,2017-06-14,1200,29,Software,Problema,0 - Sin Clasificar,0 - Sin Asignar,1,5
1,GDDEST-7342745152,2017-01-10,1855,31,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5

In [8]:
df_2018 = pd.read_excel('datos/2018.xlsx')
df_2018.head(2)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDEER-9743106195,2018-01-06,759,21,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,5
1,GDDENR-9043229214,2018-05-09,521,2,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5

In [9]:
df_2019 = pd.read_excel('datos/2019.xlsx')
df_2019.head(2)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDEER-5743562837,2019-04-07,1833,48,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,5
1,GDDEER-6043685286,2019-08-08,528,32,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,10,5

In [10]:
df_2020 = pd.read_excel('datos/2020.xlsx')
df_2020.head(2)

,ID Ticket,Fecha,Tipo,Categoría,ID Empleado,ID Agente,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDENR-6044135832,2020-10-31,Problema,Acceso/Login,773,48,0 - Sin Clasificar,0 - Sin Asignar,0,5
1,GDDESR-1444031730,2020-07-19,Problema,Sistema,613,17,0 - Sin Clasificar,0 - Sin Asignar,4,5

2. Chequead que los nombres de las columnas y ver si se llaman iguales entre dataframes. ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sea así homogeneizar los nombres de las columnas para que todos los dataframes tengan el mismo formato.

In [11]:
df_agentes.rename(columns = {"email":"Email"}, inplace =True)
df_agentes.head(2)

                 Nombre                        Email Fecha de Nacimiento
ID Agente
1           Mata Lucero    lucero.mata@tractchun.com           1989/4/28
2          JesusGrajeda  jesus.grajeda@tractchun.com            1979/1/1

In [12]:
df_agentes.reset_index(inplace=True)
df_agentes.head(2)

   ID Agente        Nombre                        Email Fecha de Nacimiento
0          1   Mata Lucero    lucero.mata@tractchun.com           1989/4/28
1          2  JesusGrajeda  jesus.grajeda@tractchun.com            1979/1/1

In [13]:
df_empleados.reset_index(inplace=True)

In [14]:
df_empleados.head(2)

  Turno  ID Empleado Apellido   Nombre ID Puesto                         Email
0     A            6    VILLA    JESUS  50-32200     jesus.villa@tractchun.com
1   NaN           10   MENDEZ  RICARDO  15-24100  ricardo.mendez@tractchun.com

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos históricos (2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx). Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, tendréis que ver si esas columnas están en los dataframes nuevos, si es así eliminarlas. Por lo tanto, realizad los cambios que creáis necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [15]:
df_2016.drop(["Web", "Índice "], axis = 1, inplace = True)
df_2016.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0

In [16]:
df_años = pd.concat([df_2016, df_2017, df_2018, df_2019, df_2020], axis = 0, ignore_index = True)
df_años

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...
97493,TWRTSR-8543883120,2020-02-22,1142.0,1.0,Sistema,Solicitud,3 - Mayor,1 - Baja,11.0,5.0
97494,TWRTSR-8744097039,2020-09-23,223.0,40.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0
97495,TWRTSR-9643846768,2020-01-16,256.0,7.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0
97496,TWRTSR-9944138906,2020-11-03,1060.0,9.0,Sistema,Solicitud,1 - Menor,1 - Baja,9.0,5.0
97497,TWRTST-8643986162,2020-06-04,1876.0,41.0,Sistema,Solicitud,1 - Menor,1 - Baja,6.0,4.0

4. Es el momento de unir la información de todos los puestos y los empleados. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.

In [17]:
df_empleados.columns

Index(['Turno', 'ID Empleado', 'Apellido', 'Nombre', 'ID Puesto', 'Email'], dtype='object')

In [18]:
df_emp_pues = df_empleados.merge(df_puestos, on = "ID Puesto", how = 'left')

df_emp_pues.head()

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email,Puesto,Departamento,Tipo Puesto
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com,Supervisor de Producción,PRODUCCION,Mandos Medios
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com,Supervisor de Ingeniería de Calidad,INGENIERIA DE CALIDAD,Mandos Medios
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com,Supervisor de Producción,PRODUCCION,Mandos Medios
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com,Supervisor de Producción,MANTENIMIENTO,Mandos Medios

5. Guardad los dataframes en dos csv diferentes que usaremos mañana en la clase de pair programming

In [19]:
df_años.to_csv('datos/años.csv')
df_emp_pues.to_csv('datos/empleados_puestos.csv')