# Pair Programming Pandas II

In [2]:
import pandas as pd

En este ejercicio de pair programming pondremos en pr√°ctica como cargar distintos tipos de archivos en Python usando Pandas.  
En la carpeta datos encontrare√≠s una serie de ficheros con distintos formatos.
Los objetivos de este pair programming:
1. Id cargando todos los ficheros en vuestro jupyter.  
üìå NOTA En la apertura del archivo de `quejas.csv` puede que os salga un error como este:

    ![imagen](./datos/error-apertura-pair-pandas-II.png)

    Esto es debido a que habr√° que indicar el `encoding` y el separador de este fichero. En concreto el `encoding` es de tipo "ISO-8859-1". El separador os lo dejamos a vosotras para que investigueis un poquito.  

    - Utlizando el dataset de `quejas.csv` y usando el loc, quedaros solo con aquellos datos que correspondan a tipo "Sugerencia" (para solucionar este ejercicio tendr√©is que poner en pr√°ctica m√©todos aprendidos en la lecci√≥n de ayer). En este caso querremos todas las columnas. Almacenad los resultados en nuevo dataframe que se llame `df_sugerencias`.  
    
    - Utlizando el dataset de `quejas.csv` y usando el loc,quedaros solo con aquellos datos que correspondan con canal de entrada "Presencial" y y que sean de tipo "Queja" (para solucionar este ejercicio tendr√©is que poner en pr√°ctica m√©todos aprendidos en la lecci√≥n de ayer). En este caso solo querremos las columnas de "fecha_entrada" y "fecha_contestacion". Almacenad los resultados en nuevo dataframe que se llame `df_queja_presencial`.

In [4]:
df = pd.read_csv('datos/quejas.csv', encoding='ISO-8859-1', sep= ';')
df.head()

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejer√≠a de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonizaci√≥n y Transici√≥n Energ√©tica,ENERG√çA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejer√≠a de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonizaci√≥n y Transici√≥n Energ√©tica,ENERG√çA,NaN
2,Queja,Recepcionada por Unidad,INTERNET,2022-03-23 00:00:00,NaN,"Consejer√≠a de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonizaci√≥n y Transici√≥n Energ√©tica,ENERG√çA,NaN
3,Queja,Recepcionada por Unidad,INTERNET,2022-01-24 00:00:00,NaN,"Consejer√≠a de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonizaci√≥n y Transici√≥n Energ√©tica,ENERG√çA,NaN
4,Queja,Recepcionada por Unidad,INTERNET,2022-03-29 00:00:00,NaN,"Consejer√≠a de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonizaci√≥n y Transici√≥n Energ√©tica,ENERG√çA,NaN

In [5]:
df_sugerencias = df.loc[df.tipo == 'Sugerencia']
df_sugerencias

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
5,Sugerencia,Contestada al Ciudadano,INTERNET,2022-03-08 00:00:00,2022-03-14 00:00:00,"Consejer√≠a de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonizaci√≥n y Transici√≥n Energ√©tica,ENERG√çA,NaN
7,Sugerencia,Contestada al Ciudadano,INTERNET,2022-01-24 00:00:00,2022-02-01 00:00:00,"Consejer√≠a de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonizaci√≥n y Transici√≥n Energ√©tica,ENERG√çA,NaN
34,Sugerencia,Contestada al Ciudadano,INTERNET,2022-03-28 00:00:00,2022-03-31 00:00:00,"Consejer√≠a de Educaci√≥n, Universidades, Cienci...",Direcci√≥n del √Årea Territorial de Madrid Capital,EDUCACI√ìN,CENTROS EDUCATIVOS
37,Sugerencia,Contestada al Ciudadano,INTERNET,2022-01-10 00:00:00,2022-01-12 00:00:00,"Consejer√≠a de Educaci√≥n, Universidades, Cienci...",Direcci√≥n General de Educaci√≥n Infantil Y Prim...,EDUCACI√ìN,CENTROS EDUCATIVOS
40,Sugerencia,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejer√≠a de Educaci√≥n, Universidades, Cienci...",Direcci√≥n del √Årea Territorial de Madrid-Sur,EDUCACI√ìN,CENTROS EDUCATIVOS
...,...,...,...,...,...,...,...,...,...
4460,Sugerencia,Contestada al Ciudadano,INTERNET,2022-03-14 00:00:00,2022-03-16 00:00:00,"Consejer√≠a de Econom√≠a, Hacienda y Empleo",Direcci√≥n General de Funci√≥n P√∫blica,OTROS,FUNCI√ìN P√öBLICA
4479,Sugerencia,Enviada a Otra Administraci√≥n,INTERNET,2022-03-03 00:00:00,NaN,"Consejer√≠a de Cultura, Turismo y Deporte",NaN,OTROS,OTROS
4480,Sugerencia,Enviada a Otra Administraci√≥n,INTERNET,2022-03-08 00:00:00,NaN,NaN,NaN,OTROS,OTROS
4494,Sugerencia,Cancelada,INTERNET,2022-01-02 00:00:00,NaN,"Consejer√≠a de Medio Ambiente, Vivienda y Agric...",NaN,OTROS,OTROS
4495,Sugerencia,Rechazada por SGAC,INTERNET,2022-03-08 00:00:00,NaN,NaN,NaN,OTROS,Sin valor

In [6]:
df_queja_presencial = df.loc[(df.canal_entrada == 'PRESENCIAL') & (df.tipo == 'Queja'), ['fecha_entrada', 'fecha_contestacion']]
df_queja_presencial

            fecha_entrada   fecha_contestacion
45    2022-01-31 00:00:00                  NaN
197   2022-02-17 00:00:00  2022-02-23 00:00:00
420   2022-02-14 00:00:00  2022-02-15 00:00:00
421   2022-02-11 00:00:00  2022-02-11 00:00:00
422   2022-02-14 00:00:00  2022-02-15 00:00:00
...                   ...                  ...
4323  2022-01-17 00:00:00                  NaN
4336  2022-02-23 00:00:00                  NaN
4412  2022-02-07 00:00:00  2022-02-10 00:00:00
4455  2022-03-10 00:00:00  2022-03-18 00:00:00
4465  2022-01-17 00:00:00                  NaN

[726 rows x 2 columns]

2. Para poner en pr√°ctica el `read_clipboard` en [esta](https://es.climate-data.org/europe/espana/comunidad-de-madrid/madrid-92/) p√°gina web os encontrar√©is una tabla similar a esta que os mostramos a continuaci√≥n üëá:

    ![imagen](./datos/datos-historicos-pair-Pandas-II.png)

    Usando el m√©todo `read_clipboard`, cread un dataframe nuevo que nos ayude a contestar las siguientes preguntas:

In [25]:
df2 = pd.read_clipboard()
df2

,Enero,Febrero,Marzo,Abril,Mayo,Junio,‚Äã‚ÄãJulio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
Temperatura media (¬∞C),4.8,6,9.2,12.2,16.7,22.8,26,25.6,20.9,15.1,8.6,5.5
Temperatura min. (¬∞C),0.9,1.4,3.8,6.4,10.3,15.7,18.8,18.5,14.8,10.2,4.7,1.8
Temperatura m√°x. (¬∞C),9.5,11.4,15,17.9,22.6,29,32.4,31.9,26.8,20.3,13.2,10.1
Precipitaci√≥n (mm),41,34,40,47,39,16,6,8,22,61,55,46
Humedad(%),77%,69%,60%,57%,48%,35%,28%,30%,41%,60%,72%,77%
D√≠as lluviosos (d√≠as),5,4,4,6,5,3,1,2,3,5,5,5
Horas de sol (horas),5.7,6.8,8.1,9.4,11.5,13.0,13.1,12.1,10.4,7.8,6.1,5.7

- Usando el iloc, ¬øCu√°l es la temperatura m√≠nima de Febrero? ¬øY la m√°xima?  

- Usando el loc, ¬øCu√°ntas horas de sol hay en Julio? ¬øY en Diciembre?  

- Usando el iloc, ¬øCu√°l fue la h√∫medad del mes de Septiembre? ¬øY la precipitaci√≥n?  

- Estos datos corresponden a los a√±os 1991-2021. Cread una nueva columna cuyo valor sea "1991-2021".

In [5]:
print(f"La temperatura m√≠nima de febrero es: {df2.iloc[1,1]}")
print(f"La temperatura m√°xima de febrero es: {df2.iloc[2,1]}")

La temperatura m√≠nima de febrero es: 1.4
La temperatura m√°xima de febrero es: 11.4

In [19]:
df2.columns

Index(['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', '‚Äã‚ÄãJulio',
       'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
      dtype='object')

In [21]:
print(f"En julio hay {df2.loc['Horas de sol (horas)','‚Äã‚ÄãJulio']} horas de sol")
print(f"En diciembre hay {df2.loc['Horas de sol (horas)','Diciembre']} horas de sol")

En julio hay 13.1 horas de sol
En diciembre hay 5.7 horas de sol

In [23]:
print(f"La humedad en septiembre es: {df2.iloc[4,8]} y la precipitacion es {df2.iloc[3,8]}")

La humedad en septiembre es: 41% y la precipitacion es 22

In [26]:
df2["A√±o"] = ("1991-2021")

df2.head()

,Enero,Febrero,Marzo,Abril,Mayo,Junio,‚Äã‚ÄãJulio,Agosto,Septiembre,Octubre,Noviembre,Diciembre,A√±o
Temperatura media (¬∞C),4.8,6,9.2,12.2,16.7,22.8,26,25.6,20.9,15.1,8.6,5.5,1991-2021
Temperatura min. (¬∞C),0.9,1.4,3.8,6.4,10.3,15.7,18.8,18.5,14.8,10.2,4.7,1.8,1991-2021
Temperatura m√°x. (¬∞C),9.5,11.4,15,17.9,22.6,29,32.4,31.9,26.8,20.3,13.2,10.1,1991-2021
Precipitaci√≥n (mm),41,34,40,47,39,16,6,8,22,61,55,46,1991-2021
Humedad(%),77%,69%,60%,57%,48%,35%,28%,30%,41%,60%,72%,77%,1991-2021

3. Por √∫ltimo, guardad el dataframe generado en el ejercicio 2 en formato csv y xlsx.

In [27]:
df2.to_csv('datos/clima.csv')

In [28]:
df2.to_excel('datos/clima.xlsx')