# Pair Programming Pandas VI

In [1]:
import pandas as pd

In [3]:
df_empl_pues = pd.read_csv('datos/empleados_puestos.csv', index_col=0)
df_empl_pues.head(5)

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email,Puesto,Departamento,Tipo Puesto
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com,Supervisor de Producci칩n,PRODUCCION,Mandos Medios
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com,Supervisor de Ingenier칤a de Calidad,INGENIERIA DE CALIDAD,Mandos Medios
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com,Supervisor de Producci칩n,PRODUCCION,Mandos Medios
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com,Supervisor de Producci칩n,MANTENIMIENTO,Mandos Medios

In [4]:
df_a침os = pd.read_csv('datos/a침os.csv', index_col=0)
df_a침os.head(5)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0

Antes de empezar deberemos cargar los 2 creados en el pair programming anterior de Pandas (el de hist칩rico de tikects que hab칤amos creado y el de la uni칩n de empleados y puestos). El objetivo de este ejercicio es agrupar los datos para contestar las siguientes preguntas:  

1. En pairs anteriores hemos ido pudiendo sacar algunas conclusiones y contestando las preguntas que nos hac칤an las jefas. Desde la direcci칩n se est치n planteando cambiar el sistema de asiganci칩n de las solicitudes que llegan. En concreto, necesitan saber que categor칤a es la que recibe m치s tickets para poder asignar m치s empleados a esa categor칤a. Por esto nos piden que averiguemos qu칠 categor칤a es la que tiene m치s tickets. Adem치s nos piden que devolvamos esta consulta en un DataFrame.  
游늷 NOTA Ordena los resultados de mayor a menor. Esto todav칤a no lo hemos visto, pero un DataFrame lo podemos ordenar con `.sort_values`(). [Aqu칤](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html) ten칠is una explicaci칩n de c칩mo hacerlo.

In [13]:
df_categorias = df_a침os.groupby('Categor칤a')['ID Ticket'].count().reset_index().sort_values(by='ID Ticket', ascending=False)
df_categorias

       Categor칤a  ID Ticket
6        Sistema      38997
7       Software      19566
5       Hardware       9731
3   Acceso/Login       8659
4  Acceso99Login       6426
2  Acceso-&Login       5672
0  Acceso%&Login       4526
1  Acceso&%Login       3907

2. Desde la direcci칩n quieren seguir evaluando la situaci칩n planteada en el ejercicio anterior. Pero ahora quieres saber cual es la media de la satisfacci칩n por categor칤a. En concreto quieren saber si independientemente de la categor칤a los clientes salgan satisfechos, para que en caso de que no sea as칤 poder identificar un posible problema subyacente. Por lo tanto, nos piden que calculemos la media de satisfacci칩n por cada una de las categor칤as que tenemos en el dataframe.

In [19]:
df_satisfaccion = df_a침os.groupby('Categor칤a')['Satisfacci칩n'].mean().reset_index().sort_values(by='Satisfacci칩n', ascending=False)
df_satisfaccion

       Categor칤a  Satisfacci칩n
3   Acceso/Login      4.172075
7       Software      4.106329
4  Acceso99Login      4.105198
6        Sistema      4.102303
5       Hardware      4.100925
2  Acceso-&Login      4.087447
0  Acceso%&Login      4.059876
1  Acceso&%Login      3.954662

3. Quieren mejorar la consulta anterior y ahora nos piden que adem치s de la media les devolvamos la desviaci칩n est치ndar de la satisfacci칩n.

In [20]:
df_satis_agg = df_a침os.groupby('Categor칤a')['Satisfacci칩n'].agg(['mean','std']).reset_index()
df_satis_agg

       Categor칤a      mean       std
0  Acceso%&Login  4.059876  1.292629
1  Acceso&%Login  3.954662  1.344462
2  Acceso-&Login  4.087447  1.272903
3   Acceso/Login  4.172075  1.197885
4  Acceso99Login  4.105198  1.256943
5       Hardware  4.100925  1.262979
6        Sistema  4.102303  1.253662
7       Software  4.106329  1.254547

4. En nuestros datos, adem치s hemos visto que no solo tenemos categor칤as, y que las diferencias entre ellas no son especialmente significativas. Revisando los datos de nuevo, desde direcci칩n saben que hay dos tipos de tickets (Problema y Solicitud), bas치ndonos en esto, 쯛ay diferencias en la satisfacci칩n bas치ndonos en la categor칤a y el tipo de tickets?.

In [21]:
df_satis_tipo = df_a침os.groupby('Tipo')['Satisfacci칩n'].agg(['mean','std']).reset_index()
df_satis_tipo

        Tipo      mean       std
0   Problema  4.098781  1.260394
1  Solicitud  4.101288  1.256396

- Hay muy poca diferencia entre la satisfacci칩n de los tickets de tipo Problema y Solicitud. 
- Tambi칠n hab칤a poca diferencia al analizarlo por Categor칤a (aunque habr칤a que homogeneizar las categor칤as de Acceso/Login ya que hay 5 diferentes pero parece que se refiere al mismo tipo)

5. A pesar de que sabemos que tenemos muchos empleados y varios departamentos, nuestras jefas no saben cu치ntas personas hay en cada uno de estos departamentos. Por esto, nos piden que calculemos el n칰mero de empleados que tenemos por departamento. Devolved estos resultados en un dataframe. Ordenadad los resultados de mayor a menor bas치ndonos en la cantidad de empleados que tenemos.

In [30]:
df_empl_dept = df_empl_pues.groupby('Departamento')['ID Empleado'].count().reset_index().sort_values(by='ID Empleado', ascending=False)
df_empl_dept

                                   Departamento  ID Empleado
8                                    PRODUCCION          475
3                         INGENIERIA DE CALIDAD          395
5                                 MANTENIMIENTO          258
4                     INGENIERIA DE MANUFACTURA          228
10                  SISTEMAS, TRAFICO Y ADUANAS          160
2                         CONTROL DE PRODUCCION          127
6                                    MATERIALES          125
9                              Recursos Humanos          117
0   AUDITORIA INTERNA, CALIBRACION Y METROLOGIA           70
1                                  CONTABILIDAD           25
7                                      PERSONAL           20

6. BONUS Quieren saber que departamentos son los que tienen de media un indice de satisfacci칩n.   
游눠Pista Para responder a esta pregunta tendremos que unir los dataframes con m칠todos aprendidos en lecciones anteriores de Pandas.

In [32]:
df_tickets_empl = df_a침os.merge(df_empl_pues, on='ID Empleado')
df_tickets_empl.head(2)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,Turno,Apellido,Nombre,ID Puesto,Email,Puesto,Departamento,Tipo Puesto
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,Almacenista,MATERIALES,Administrativo
1,GWLESR-6142530250,2016-06-09,1735.0,32.0,Sistema,Problema,2 - Normal,1 - Baja,11.0,5.0,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,Almacenista,MATERIALES,Administrativo

In [33]:
df_satis_dept = df_tickets_empl.groupby('Departamento')['Satisfacci칩n'].mean().reset_index().sort_values(by='Satisfacci칩n', ascending=False)
df_satis_dept

                                   Departamento  Satisfacci칩n
6                                    MATERIALES      4.125700
9                              Recursos Humanos      4.121715
3                         INGENIERIA DE CALIDAD      4.109153
10                  SISTEMAS, TRAFICO Y ADUANAS      4.102721
8                                    PRODUCCION      4.101763
7                                      PERSONAL      4.097264
4                     INGENIERIA DE MANUFACTURA      4.095234
5                                 MANTENIMIENTO      4.087153
2                         CONTROL DE PRODUCCION      4.085525
0   AUDITORIA INTERNA, CALIBRACION Y METROLOGIA      4.075758
1                                  CONTABILIDAD      4.051587

7. BONUS Por 칰ltimo, quieres conocer los 5 empleados que tienen mayor valor en la satisfacci칩n y los 5 empleados que tienen un menor valor de satisfacci칩n. Todo esto respecto a la media. En este caso, conseguiremos una dataframe, donde tengamos el el id del empleado y su satisfacci칩n, pero no sabemos su nombre y appelidos. 쯉e os ocurre como conseguir la informaci칩n del nombre del empleado?

In [45]:
df_satis_empl = df_tickets_empl.groupby('ID Empleado')['Satisfacci칩n'].mean().reset_index().sort_values(by='Satisfacci칩n', ascending=False)
df_satis_empl.head()

      ID Empleado  Satisfacci칩n
621         622.0      4.744681
745         746.0      4.641026
858         859.0      4.612245
1942       1943.0      4.589286
1835       1836.0      4.586957

In [46]:
df_satis_empl.tail()

      ID Empleado  Satisfacci칩n
1365       1366.0      3.577778
1998       1999.0      3.575000
1824       1825.0      3.571429
1724       1725.0      3.567568
838         839.0      3.488372

In [47]:
df_satis_empl2 = df_tickets_empl.groupby(['ID Empleado', 'Nombre', 'Apellido'])['Satisfacci칩n'].mean().reset_index().sort_values(by='Satisfacci칩n', ascending=False)
df_satis_empl2.head()

      ID Empleado      Nombre   Apellido  Satisfacci칩n
621         622.0     EDUARDO   MONJARAS      4.744681
745         746.0        ROSA       COTA      4.641026
858         859.0      ADOLFO  RODRIGUEZ      4.612245
1942       1943.0  VALENZUELA      OCHOA      4.589286
1835       1836.0     ANTONIO    FIMBRES      4.586957

In [48]:
df_satis_empl2.tail()

      ID Empleado  Nombre  Apellido  Satisfacci칩n
1365       1366.0  IBARRA  CALDERON      3.577778
1998       1999.0    NORA     GOMEZ      3.575000
1824       1825.0   Elena  Gonzalez      3.571429
1724       1725.0   MARIA  CASTILLO      3.567568
838         839.0  IVONNE      RUIZ      3.488372