# Pair Programming Pandas III - Metodos Pandas

In [2]:
import pandas as pd
import os

1. Cargar todos los datasets que os hemos compartido en este pair programming

In [3]:
df_emp = pd.read_csv("datos/Empleados.csv")
df_emp.head()

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

In [4]:
df_agentes = pd.read_csv("datos/Agentes.csv")
df_agentes.head()

,ID Agente,Nombre,email,Fecha de Nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

In [5]:
df_2016 = pd.read_excel("datos/2016.xlsx")
df_2016.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

2. Haced una exploración básica cada uno de los DataFrames, esta exploración debe incluir:

📌 NOTA Fijaos que vamos a hacer lo mismo para cada archivo que tenemos. Una buena práctica sería crearnos una función que apliquemos a cada conjunto de datos. Nuestra función recibirá un parámetro, que será el dataframe entero

📌 NOTA Nos estamos convirtiendo en analistas de datos y no nos debe valer solo con escribir el código, os recomendamos que reviseis bien los resultados y empezais a extraer algunas conclusiones. ¿Hay datos raros en nuestros conjuntos de datos? ¿Tenemos nulos?, etc.

In [87]:

def df_explore(dataframe, nombre):
    print(f"La forma del dataframe {nombre} es: ")
    display(dataframe.shape)
    print("--------------")
    print(f"""Los tipos de datos del dataframe {nombre} son: 
{dataframe.dtypes}""")
    print("--------------")
    print(f"""El dataframe {nombre} tiene las siguientes columnas: 
{dataframe.columns}""")
    print("--------------")
    print(f"""Los principales estadisticos del dataframe {nombre}: 
{dataframe.describe()}""")
    print("--------------")
    print(f"""Los principales estadisticos de las variables categoricas del dataframe {nombre}: 
{dataframe.describe(include=object)}""")
    print("--------------")
    print((dataframe.isnull().sum()/dataframe.shape[0])*100)

In [90]:
df_emp.isnull().sum()

Turno          1992
ID Empleado       0
Apellido          0
Nombre            0
ID Puesto         0
Email             0
dtype: int64

In [86]:
(df_emp.isnull().sum()/df_emp.shape[0])*100

Turno          99.6
ID Empleado     0.0
Apellido        0.0
Nombre          0.0
ID Puesto       0.0
Email           0.0
dtype: float64

In [88]:
df_explore(df_emp, "Empleados")

La forma del dataframe Empleados es:

(2000, 6)

--------------
Los tipos de datos del dataframe Empleados son:
Turno          object
ID Empleado     int64
Apellido       object
Nombre         object
ID Puesto      object
Email          object
dtype: object
--------------
El dataframe Empleados tiene las siguientes columnas:
Index(['Turno', 'ID Empleado', 'Apellido', 'Nombre', 'ID Puesto', 'Email'], dtype='object')
--------------
Los principales estadisticos del dataframe Empleados:
       ID Empleado
count  2000.000000
mean   1000.500000
std     577.494589
min       1.000000
25%     500.750000
50%    1000.500000
75%    1500.250000
max    2000.000000
--------------
Los principales estadisticos de las variables categoricas del dataframe Empleados:
       Turno Apellido Nombre ID Puesto                      Email
count      8     2000   2000      2000                       2000
unique     4      376    565        75                       2000
top        A    LOPEZ  MARIA  15-24100  jesus.villa@tractchun.com
freq       2       36     46       407                          1
--------------
Turno          99.6
ID Empleado     0.0
Apellido        0.0
Nombre          0.0
ID Puesto       0.0
Email           0.0
dtype: float64

In [43]:
df_explore(df_agentes, "Agentes")

La forma del dataframe Agentes es: (50, 4)
--------------
Los tipos de datos del dataframe Agentes son:
ID Agente               int64
Nombre                 object
email                  object
Fecha de Nacimiento    object
dtype: object
--------------
El dataframe Agentes tiene las siguientes columnas:
Index(['ID Agente', 'Nombre', 'email', 'Fecha de Nacimiento'], dtype='object')
--------------
Los principales estadisticos del dataframe Agentes:
             Nombre                      email Fecha de Nacimiento
count            50                         50                  50
unique           50                         50                  50
top     Mata Lucero  lucero.mata@tractchun.com           1989/4/28
freq              1                          1                   1
--------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID Agente            50 non-null     int64
 1   Nombre               50 non-null     object
 2   email                50 non-null     object
 3   Fecha de Nacimiento  50 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB
None

In [25]:
df_explore(df_2016, "2016")

La forma del dataframe 2016 es: (13051, 12)
--------------
Los tipos de datos del dataframe 2016 son:
ID Ticket                  object
Fecha              datetime64[ns]
ID Empleado               float64
ID Agente                 float64
Categoría                  object
Tipo                       object
Severidad                  object
Prioridad                  object
Días Resolución           float64
Satisfacción              float64
Web                        object
Índice                    float64
dtype: object
--------------
El dataframe 2016 tiene las siguientes columnas:
Index(['ID Ticket', 'Fecha', 'ID Empleado', 'ID Agente', 'Categoría', 'Tipo',
       'Severidad', 'Prioridad', 'Días Resolución', 'Satisfacción', 'Web',
       'Índice '],
      dtype='object')
--------------
Los principales estadisticos del dataframe 2016:
                ID Ticket Categoría       Tipo   Severidad Prioridad  \
count               13050     13038      13050       13025     13025
unique              13050         4          2           5         4
top     GDDENR-5042564453   Sistema  Solicitud  2 - Normal  3 - Alta
freq                    1      5247       9756       11771      4828

                     Web
count              13024
unique                 1
top     www.tractchun.es
freq               13024
--------------
Aqui tiene un resumen del dataframe 2016:
<bound method DataFrame.info of                ID Ticket      Fecha  ID Empleado  ID Agente      Categoría  \
0      GDDENR-5042564453 2016-07-13       1735.0        4.0  Acceso&%Login
1      GDDENR-8042508060 2016-05-18       1566.0       10.0  Acceso&%Login
2      GDDESR-1342539995 2016-06-18        569.0       29.0        Sistema
3      GDDTSR-5942488006 2016-04-28        320.0       40.0        Sistema
4      GDLEER-0042524120 2016-06-03       1842.0       31.0       Software
...                  ...        ...          ...        ...            ...
13046  TWRTSR-6442574526 2016-07-23        962.0       25.0        Sistema
13047  TWRTSR-7142570866 2016-07-19        126.0       38.0        Sistema
13048  TWRTSR-7742498308 2016-05-08        510.0        3.0        Sistema
13049  TWRTSR-8642558628 2016-07-07       1942.0       26.0        Sistema
13050  TWRTSR-8742628897 2016-09-15        919.0        8.0        Sistema

            Tipo           Severidad        Prioridad  Días Resolución  \
0       Problema  0 - Sin Clasificar  0 - Sin Asignar              0.0
1       Problema  0 - Sin Clasificar  0 - Sin Asignar              0.0
2       Problema  0 - Sin Clasificar  0 - Sin Asignar              3.0
3      Solicitud  0 - Sin Clasificar  0 - Sin Asignar              9.0
4       Problema          2 - Normal  0 - Sin Asignar              0.0
...          ...                 ...              ...              ...
13046  Solicitud           1 - Menor         1 - Baja             14.0
13047  Solicitud           3 - Mayor         1 - Baja             13.0
13048  Solicitud           3 - Mayor         1 - Baja              2.0
13049  Solicitud           1 - Menor         1 - Baja             16.0
13050  Solicitud           1 - Menor         1 - Baja              7.0

       Satisfacción               Web  Índice
0               5.0  www.tractchun.es      1.0
1               5.0  www.tractchun.es      1.0
2               5.0  www.tractchun.es      1.0
3               5.0  www.tractchun.es      1.0
4               5.0  www.tractchun.es      1.0
...             ...               ...      ...
13046           4.0  www.tractchun.es      1.0
13047           5.0  www.tractchun.es      1.0
13048           5.0  www.tractchun.es      1.0
13049           4.0  www.tractchun.es      1.0
13050           4.0  www.tractchun.es      1.0

[13051 rows x 12 columns]>

In [28]:
df_emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Turno        8 non-null      object
 1   ID Empleado  2000 non-null   int64
 2   Apellido     2000 non-null   object
 3   Nombre       2000 non-null   object
 4   ID Puesto    2000 non-null   object
 5   Email        2000 non-null   object
dtypes: int64(1), object(5)
memory usage: 93.9+ KB

In [52]:
df_agentes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID Agente            50 non-null     int64
 1   Nombre               50 non-null     object
 2   email                50 non-null     object
 3   Fecha de Nacimiento  50 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB

In [53]:
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13051 entries, 0 to 13050
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID Ticket        13050 non-null  object
 1   Fecha            13025 non-null  datetime64[ns]
 2   ID Empleado      13049 non-null  float64
 3   ID Agente        13050 non-null  float64
 4   Categoría        13038 non-null  object
 5   Tipo             13050 non-null  object
 6   Severidad        13025 non-null  object
 7   Prioridad        13025 non-null  object
 8   Días Resolución  13049 non-null  float64
 9   Satisfacción     13037 non-null  float64
 10  Web              13024 non-null  object
 11  Índice           13038 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 1.2+ MB

- ¿Cuántas filas y columnas tiene el DataFrame?

Empleados tiene 2000 filas y 6 columnas.
Agentes tiene 50 filas y 4 columnas.
2016 tiene 13.051 filas y 12 columnas.

- Mostrad las primeras cinco filas y las últimas cinco filas del DataFrame.

In [58]:
df_emp.tail()

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
1995,NaN,1903,RAMOS,JOSE,55-23200,jose.ramos@tractchun.com
1996,NaN,1904,RUIZ,GUADALUPE,80-22220,guadalupe.ruiz@tractchun.com
1997,NaN,1935,ZEPEDA,FRANCISCO,15-24100,francisco.zepeda@tractchun.com
1998,NaN,1953,ROBLES,ELIZABETH,15-24100,elizabeth.robles@tractchun.com
1999,NaN,1993,ENRIQUEZ,HERCULANO,45-11000,herculano.enriquez@tractchun.com

In [55]:
df_emp.head()

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

In [59]:
df_agentes.tail()

,ID Agente,Nombre,email,Fecha de Nacimiento
45,46,Rosa Olguin,rosa.olguin@tractchun.com,1985/5/30
46,47,Yomaira Agudelo,yomaira.agudelo@tractchun.com,1974/12/15
47,48,Aurelio Tanori,aurelio.tanori@tractchun.com,1979/8/29
48,49,Armando Sierra,armando.sierra@tractchun.com,1991/4/5
49,50,Ramon Macias,ramon.macias@tractchun.com,1980/3/4

In [60]:
df_agentes.head()

,ID Agente,Nombre,email,Fecha de Nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

In [61]:
df_2016.tail()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
13046,TWRTSR-6442574526,2016-07-23,962.0,25.0,Sistema,Solicitud,1 - Menor,1 - Baja,14.0,4.0,www.tractchun.es,1.0
13047,TWRTSR-7142570866,2016-07-19,126.0,38.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,www.tractchun.es,1.0
13048,TWRTSR-7742498308,2016-05-08,510.0,3.0,Sistema,Solicitud,3 - Mayor,1 - Baja,2.0,5.0,www.tractchun.es,1.0
13049,TWRTSR-8642558628,2016-07-07,1942.0,26.0,Sistema,Solicitud,1 - Menor,1 - Baja,16.0,4.0,www.tractchun.es,1.0
13050,TWRTSR-8742628897,2016-09-15,919.0,8.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,www.tractchun.es,1.0

In [62]:
df_2016.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

- Mostrad 2 filas al azar del DataFrame.

In [63]:
df_emp.sample(2)

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
1359,NaN,638,OCHOA,GRIJALVA,15-24100,grijalva.ochoa@tractchun.com
807,NaN,138,ESTRADA,JAIME,45-11000,jaime.estrada@tractchun.com

In [64]:
df_agentes.sample(2)

    ID Agente       Nombre                      email Fecha de Nacimiento
35         36  Luis Torres  luis.torres@tractchun.com           1982/7/18
45         46  Rosa Olguin  rosa.olguin@tractchun.com           1985/5/30

In [65]:
df_2016.sample(2)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
12155,THREER-3342437413,2016-03-08,1211.0,14.0,Hardware,Problema,3 - Mayor,3 - Alta,9.0,5.0,www.tractchun.es,1.0
2399,GHLTST-9842537057,2016-06-16,1335.0,50.0,Sistema,Solicitud,2 - Normal,3 - Alta,2.0,5.0,www.tractchun.es,1.0

- ¿Cuál es el nombre de las columnas del DataFrame?

De los resultados de la funcion:

Las columnas del dataframe Empleados son: 
'Turno', 'ID Empleado', 'Apellido', 'Nombre', 'ID Puesto', 'Email'

Las columnas del dataframe Agentes son: 
'ID Agente', 'Nombre', 'email', 'Fecha de Nacimiento'

Las columnas del dataframe 2016 son:
'ID Ticket', 'Fecha', 'ID Empleado', 'ID Agente', 'Categoría', 'Tipo',
       'Severidad', 'Prioridad', 'Días Resolución', 'Satisfacción', 'Web',
       'Índice '

- ¿Cuáles son los principales estádisticos del DataFrame? Mostrad por separado las variables categóricas y las variables numéricas.

In [ ]:
# Esta en el output de la funcion.

- ¿Cuál es el porcentaje de valores nulos en cada columna?

- ¿Cuántos valores únicos tenemos para cada una de las columnas?

- De aquellas columnas que tengan menos de 6 elementos únicos mostrad cada uno de sus valores únicos.

3. Modificaciones básicas de los conjuntos de datos:

- Cambiad el nombre de las columnas para que todas estén en minúsculas y reemplazad los espacios por _.

- Para las columnas de web e índice en el archovo de 2016.xlsx ya hemos visto que tiene un único valor único, lo cual no tiene mucho sentido ya que no nos aporta información útil. En este ejercicios tendréis que eliminar dichas columnas del dataframe.

- Establece la columna id_ticket de la tabla de 2016.xlsx como índice del DataFrame.

- Guarda los csv's sobre los que hayáis hecho cambios para usarlos en próximos pairs .